
html{
    width:100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#select{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button{
    width:200px;
    margin-top: 10px;
}

.type{
    border: solid black 1px;
    border-radius: 5%;
}

div{
    width:10%;
    height: 10%;
    *{
        margin:5px;
    }
}

#output{
    min-height: 100px;
    min-width: 300px;
    border:solid black;
}